<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Create a new post!</title>
    </head>
    <body>

        <div th:include="fragments/navbar :: navbar"></div>

        <form action="/posts/create" method="post" th:object="${post}">
            <h3>Title:</h3>
            <input type="text" th:field="*{title}"/>
            <h5>Body:</h5>
            <textarea th:field="*{body}"/>
            <br/>
            <button type="submit" class="btn btn-success">Create Post!</button>
        </form>

    </body>
</html>