<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="${title}"></title>
    </head>
    <body>
        <div th:include="fragments/navbar :: navbar"></div>
        <div th:object="${post}">
            <h1 th:text="*{title}"></h1>
            <p th:text="*{body}"></p>
            <p>ID#: <span th:text="*{id}"></span></p>
            <form th:attr="action=${'/posts/' + post.id + '/delete'}" method="post">
                <button type="submit" class="btn btn-danger">Delete Post</button>
            </form>
        </div>
    </body>
</html>