<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <div th:fragment="navbar">

            <nav class="navbar navbar-default">

                <div class="container-fluid">

                    <div class="navbar-header">

                        <a class="navbar-brand" href="/posts">Home</a>

                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/posts/create">Create</a></li>
                        </ul>

                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        <li>
                            <form th:action="@{/logout}" th:method="POST">
                                <button class="btn btn-danger">Logout</button>
                            </form>
                        </li>
                    </ul>

                </div>

            </nav>

        </div>

    </body>
</html>